.fixed_bottom_right_container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 170px;
  height: 40px;
  color: #2c2b34;
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 1px 0px 0px 1px;
  border-radius: 10px 0px 0px 0px;
  /* Blur effect for background */
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background: rgba(255,255,255,0.50);
  z-index: 9999;
}

.fixed_bottom_right_container::after {
    content: "Powered by AhsanLabs";
    font-size: 13px;
    font-weight: 600;
    color: #2c2b34;
    position: absolute;
}